.titleCopy{
  font-size: larger;
  
}
.parent {
  display: flex;
  height: 300px; 
  flex: center
}

.child {
  width: 100px;  
  height: 100px; 
  margin: auto;  
  /* justify: space-evenly; */
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-boxes {
  height: 20px;
  padding: 12px 20px;
  margin: 8px 10px;
  border: 2px solid #b21e1c;
  border-radius: 4px;
  font-family: oswald;
  font-size: 20px;
}

.compeletelist {
  flex-wrap: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  column-width: 60%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;

}
.favelist{
  flex-wrap: space-evenly;
  margin-left: 5%;
  column-width: 45%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
}
.home{
  margin-left: 10%;
  column-width: 45%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
}
.input-dropdown {
  height: 58px;
  width: 220px;
  padding: 12px 20px;
  margin: 8px 10px;
  border: 2px solid #b21e1c;
  border-radius: 4px;
  font-family: oswald;
  font-size: 20px;
}
#flex {
  display: flex;
  flex-flow: row wrap;
  width: 300px;
}
.item {
  width: 80px;
}
.title{
  margin-left: 10%;
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: hotpink;
}

 
.btn{
  margin-left: 75%;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
h4{
  margin-left: 5%;
  color: hotpink;
 font-size: medium;
 justify-content: center;
}
h3{
  margin-left: 5%;
  color: hotpink;
 font-size: medium;
 justify-content: center;
 
}span{
  margin-left: 5%;
  color: hotpink;
 font-size: large;
 justify-content: space-evenly
}

h1{
  color: lightblue;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
}
h2{
  color: gold;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
  color: hotpink;
  /* background-color: purple; */
  
}
input{
  color: blue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
  color: blue;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
textarea{
  font-size: small;
  color: hotpink;
}